*{
    margin:0;
    padding:0;
}

.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.nav-list{
       width: 70%;
       display: flex ;
      /* justify-content: center; */
       align-items: center;
}

.nav-list li{
     list-style: none;
     padding: 26px 30px;

}

.nav-list li a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list li a:hover{
    color: gray;
}

.rightnav{

    width: 36%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-content: center;
}

.logo img{
    width:33%;
    border: 3px solid white;
    border-radius: 50px;

}

.background{
    background: rgba( 0,0,0,0.7) url('background.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-main{

    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    max-width: 50%;
    margin: auto;
}

.firstSection{
    height: 100vh;
}

.firsthalf{

width: 80%;
display: flex;
justify-content: center;
flex-direction: column;
}



.text-big{
    font-size: 40px;
}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin:7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;

}

.button_small{
    padding: 6px 10px;
    vertical-align: middle;
    background: none;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 8px;

}

.right{

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.thumbnail img{
    width: 400px;
    height: 300px;

}

.paras{
    padding: 0px 90px;
}

.left{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}



.burger{
       position: absolute;
       cursor: pointer;
       right: 5%;
       top: 15px;
       display: none;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;

}
@media only screen and (max-width: 1073px){
    .nav-list{

        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transform: all 0.3s ease-out;
    }
    .rightnav{
        text-align: end;
    }

    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
}

.promotion{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-items: flex-start;
    position: relative;
    width: 50%;

}


.button{

    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
}

.button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promotion2{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-items: flex-start;
    position: relative;
    width: 50%;

}
